@page
@model ddfgroup.Areas.Contents.CreateModel 


@{
    ViewData["Title"] = "Create Page Content";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="main ">

    <partial name="_AdminPartialTopNav" />

    <div class="padding-left"><h3>@ViewData["Title"]</h3></div>

    <div class="row">

        <div class="col-12 col-xl-12 pad-grid ds-content">

            <div class="heads-padding text-right">
                <a asp-page="Index" asp-route-id="" class="btn btn-info btn-sm"> Manage Pages</a>
            </div>

            <div class="row">
                
                <div class="col-md-12 col-xl-12 col-lg-12">
                    <form method="post">
                        @Html.AntiForgeryToken();
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-3">
                            <label asp-for="PageContents.PageTitle" class="control-label"></label>
                            <input asp-for="PageContents.PageTitle" class="form-control" />
                            <span asp-validation-for="PageContents.PageTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                           
                            @Html.TextAreaFor(m => m.PageContents.PageContent, new
                            { rows = "17",
                                style = "resize:none;width:95%; margin:auto; background-color:#FFF",
                                placeholder = Html.DisplayNameFor(m => m.PageContents.PageContent),
                                @class = "form-control input-lg textarea-editor"
    })
                            <span asp-validation-for="PageContents.PageContent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            </div>
    </div>
</div>


            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


            }
