<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DDF GROUP</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/theme/css/app.css" />

    @{ string Dashboard = "Analytics Dashboard";
        string Page = "Create Page Content";
        string EditPage = "Edit Page";
        string Upload2 = "Upload Car";
        string Upload3 = "Edit Car";

        /* isolate dashboard bootstrap from the entire page for performance*/
        if (ViewData["Title"].ToString() != Dashboard)
        {
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />

        }
        /* Only include necessary whswyg assets files in editors pages only*/
        if (ViewData["Title"].ToString() == Page || ViewData["Title"].ToString() == EditPage || ViewData["Title"].ToString() == Upload2 || ViewData["Title"].ToString() == Upload3)
        {
            <link rel="stylesheet" href="~/summernote-0.8.18/summernote.min.css" />
        }

        else
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        }
    }
</head>
<body>

    <div class="wrapper">
        <partial name="_AdminNav.cshtml" optional="true" />


        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/js/app.js"></script>
    <script src="~/lib/fontawesome/js/fontawesome.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#RsTable').DataTable();
        });
    </script>

    @{
        string Analytics = "Analytics Dashboard";
        string Page2 = "Create Page Content";
        string EditPage2 = "Edit Page";
        string Upload = "Upload Car";
        string Upload4 = "Edit Car";
        string Rate = "Create Rate";
        string EditPrice = "Edit Price";

        if (ViewData["Title"].ToString() == Analytics)
        {
            <script src="~/theme/js/Analytics.js"></script>
        }

        if (ViewData["Title"].ToString() == Upload ||  ViewData["Title"].ToString() == Rate || ViewData["Title"].ToString() == EditPrice )
        {
            <script src="~/js/ResizeImage.js"></script>
            <script src="~/js/jquery.priceformat.js"></script>
            <script>
                var format = function (num) {
                    var str = num.toString().replace("N", ""), parts = false, output = [], i = 1, formatted = null;
                    if (str.indexOf(".") > 0) {
                        parts = str.split(".");
                        str = parts[0];
                    }
                    str = str.split("").reverse();
                    for (var j = 0, len = str.length; j < len; j++) {
                        if (str[j] != ",") {
                            output.push(str[j]);
                            if (i % 3 == 0 && j < (len - 1)) {
                                output.push(",");
                            }
                            i++;
                        }
                    }
                    formatted = output.reverse().join("");
                    return ("N" + formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
                };

                $('#Cars_Price').priceFormat();
                
                
                $(function () {
                    $("#price_naira").keyup(function (e) {
                        $(this).val(format($(this).val()));
                    });
                });

            </script>
        }


        if (ViewData["Title"].ToString() == Page2 || ViewData["Title"].ToString() == EditPage2 || ViewData["Title"].ToString() == Upload || ViewData["Title"].ToString() == Upload4)
        {

            <script src="~/summernote-0.8.18/summernote.min.js"></script>
            <script>
                $(document).ready(function () {
                    // Initialize Editor
                    $('.textarea-editor').summernote({
                        height: 300, // set editor height
                        minHeight: null, // set minimum height of editor
                        maxHeight: null, // set maximum height of editor
                        focus: true // set focus to editable area after initializing summernote
                    });
                });

            </script>
        }



    }

    @RenderSection("Scripts", required: false)
</body>
</html>
