

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{

    @if (SignInManager.IsSignedIn(User))
    {
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">Admin Panel</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        CARS
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="index.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Car Brands</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-profile.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Car Models</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-settings.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Cars Categories</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-settings.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Cars Status</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-settings.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Cars Year</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-settings.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Manage Cars</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-settings.html">
                            <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Upload Cars</span>
                        </a>
                    </li>
                </ul>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        PAGES & CONTENTS
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-page="/Contents/Index">
                            <i class="align-middle" data-feather="book"></i>  <span class="align-middle"> Pages </span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-page="/Feedback/Index">
                            <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Customers Feedback</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-area="Admin" asp-page="/Dashboard/ManageUsers" class="sidebar-link">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Manage Admin Users</span>
                        </a>
                    </li>
                    </ul>
                    @*<li class="sidebar-item">
            <a href="#auth" data-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="users"></i> <span class="align-middle">Auth</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                <li class="sidebar-item"><a class="sidebar-link" href="pages-sign-in.html">Sign In</a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="pages-sign-up.html">Sign Up</a></li>
            </ul>
        </li>*@
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                   SHIPPMENT
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-blank.html">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Manage Shippment</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-blank.html">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Tracking Numbers</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-blank.html">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Customers Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-blank.html">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Manage Customers ID</span>
                    </a>
                </li>
                    

             
            </ul>

             
            </div>
        </nav>
    }
}
