<nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">

        <li class="tabs__item">
            <a class="tabs__link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link"  asp-page="/About">About Us</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link" asp-area="Customer" asp-controller="Home" asp-action="Index">Services</a>

            <ul class="dropdown-menu">
                <li><a href="#">Dropdown Link</a></li>
                <li><a href="#">Another Dropdown Link</a></li>
            </ul>
        </li>
        <li class="tabs__item">
            <a class="tabs__link" asp-area="" asp-controller="Home" asp-action="Index">Track Shippment</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link no-border" asp-area="" asp-controller="Home" asp-action="Index">VIN Checker</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link no-border" asp-area="" asp-controller="Home" asp-action="Index">Contact us</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link no-border"   asp-page="Feedback">Feedback</a>
        </li>
    </ul>
</nav>